#NET "clk" TNM_NET = "clk";
#TIMESPEC "TS_clk" = PERIOD "clk" 8 ns HIGH 50%;


#NET "inputData[7]" LOC = C1;
#NET "inputData[6]" LOC = D1;
#NET "inputData[5]" LOC = E1;
#NET "inputData[4]" LOC = F1;
#NET "inputData[3]" LOC = G1;
#NET "inputData[2]" LOC = H1;
#NET "inputData[1]" LOC = J1;
#NET "inputData[0]" LOC = K1;
#NET "result_output[31]" LOC = H16;
#NET "result_output[30]" LOC = J16;
#NET "result_output[29]" LOC = K16;
#NET "result_output[28]" LOC = L15;
#NET "result_output[27]" LOC = M16;
#NET "result_output[26]" LOC = N15;
#NET "result_output[25]" LOC = N16;
#NET "result_output[24]" LOC = P16;
#NET "result_output[23]" LOC = R15;
#NET "result_output[22]" LOC = R16;
#NET "result_output[21]" LOC = H17;
#NET "result_output[20]" LOC = J17;
#NET "result_output[19]" LOC = K17;
#NET "result_output[18]" LOC = L17;
#NET "result_output[17]" LOC = M17;
#NET "result_output[16]" LOC = P17;
#NET "result_output[15]" LOC = R17;
#NET "result_output[14]" LOC = T17;
#NET "result_output[13]" LOC = F18;
#NET "result_output[12]" LOC = H18;
#NET "result_output[11]" LOC = K18;
#NET "result_output[10]" LOC = M18;
#NET "result_output[9]" LOC = P18;
#NET "result_output[8]" LOC = T18;
#NET "result_output[7]" LOC = G19;
#NET "result_output[6]" LOC = H19;
#NET "result_output[5]" LOC = J19;
#NET "result_output[4]" LOC = K19;
#NET "result_output[3]" LOC = L19;
#NET "result_output[1]" LOC = T19;
#NET "result_output[2]" LOC = P19;
#NET "result_output[0]" LOC = U19;
#NET "canAccept_output" LOC = E20;
#NET "clk" LOC = Y13;
#NET "resultReady_output" LOC = W20;




