
NET "botones[0]"                  LOC = "F3";    
NET "botones[1]"                  LOC = "G6";   
NET "botones[2]"                  LOC = "F5";   
NET "botones[3]"                  LOC = "C1";   
###
#NET "switch[0]"                 LOC = "C18";   ## 1   on S2 DIP switch (active-high)
#NET "switch[1]"                 LOC = "Y6";    ## 2   on S2 DIP switch (active-high)
#NET "switch[2]"                 LOC = "W6";    ## 3   on S2 DIP switch (active-high)
#NET "switch[3]"                 LOC = "E4";    ## 4   on S2 DIP switch (active-high)
##
NET "leds[0]"                    LOC = "D17";   
NET "leds[1]"                    LOC = "AB4";   
NET "leds[2]"                    LOC = "D21";   
NET "leds[3]"                    LOC = "W15";   

NET "gmii_int"                      LOC = "j20";  
NET "gmii_reset"                      LOC = "j22";  
NET "gmii_mdc"                      LOC = "r19";  
NET "gmii_mdio"                      LOC = "v20";  

NET "gmii_tx_clk"                      LOC = "AB7";
NET "gmii_tx_en"                      LOC = "T8";
NET "gmii_tx_data[0]"                      LOC = "U10";
NET "gmii_tx_data[1]"                      LOC = "T10";
NET "gmii_tx_data[2]"                      LOC = "AB8";
NET "gmii_tx_data[3]"                      LOC = "AA8";
NET "gmii_tx_data[4]"                      LOC = "AB9";
NET "gmii_tx_data[5]"                      LOC = "Y9";
NET "gmii_tx_data[6]"                      LOC = "Y12";
NET "gmii_tx_data[7]"                      LOC = "W12";
NET "gmii_tx_err"                      LOC = "U8";
 



NET "gmii_rx_crs"                      LOC = "N15";
NET "gmii_rx_col"                      LOC = "M16";    
NET "gmii_rx_data[0]"                      LOC = "P19";  
NET "gmii_rx_data[1]"                      LOC = "Y22";  
NET "gmii_rx_data[2]"                      LOC = "Y21";  
NET "gmii_rx_data[3]"                      LOC = "W22";  
NET "gmii_rx_data[4]"                      LOC = "W20";  
NET "gmii_rx_data[5]"                      LOC = "V22";  
NET "gmii_rx_data[6]"                      LOC = "V21";  
NET "gmii_rx_data[7]"                      LOC = "U22";  
NET "gmii_rx_dataValid"                    LOC = "T22"; 
NET "gmii_rx_err"                      LOC = "U20";   

NET "gmii_rx_clk"                     LOC = "P20";   
NET "gmii_rx_clk"                       TNM_NET = "rxclk"; 
TIMESPEC "TS_clk" = PERIOD "rxclk" 8 ns HIGH 50%;

 
NET "SYSCLK_N"                      LOC = "K22" | DIFF_TERM = TRUE ;   
NET "SYSCLK_P"                      LOC = "K21" | DIFF_TERM = TRUE ;   

NET "SYSCLK_P" TNM_NET = "SYSCLK_";
TIMESPEC "TS_SYSCLK_" = PERIOD "SYSCLK_" 5 ns HIGH 50%; 

NET "gmii_rx_clk" TNM_NET = "gmii_rx_clk_";
TIMESPEC "TS_gmii_rx_clk_" = PERIOD "gmii_rx_clk_" 8 ns HIGH 50%;



//Señales del microprocesador
NET "cpu_reset"                         LOC = "H8";  
NET "UART_Rx"                           LOC = "H17";  
NET "UART_Tx"                           LOC = "B21";  

#NET "inputData[7]" LOC = C1;
#NET "inputData[6]" LOC = D1;
#NET "inputData[5]" LOC = E1;
#NET "inputData[4]" LOC = F1;
#NET "inputData[3]" LOC = G1;
#NET "inputData[2]" LOC = H1;
#NET "inputData[1]" LOC = J1;
#NET "inputData[0]" LOC = K1;
#NET "result_output[31]" LOC = H16;
#NET "result_output[30]" LOC = J16;
#NET "result_output[29]" LOC = K16;
#NET "result_output[28]" LOC = L15;
#NET "result_output[27]" LOC = M16;
#NET "result_output[26]" LOC = N15;
#NET "result_output[25]" LOC = N16;
#NET "result_output[24]" LOC = P16;
#NET "result_output[23]" LOC = R15;
#NET "result_output[22]" LOC = R16;
#NET "result_output[21]" LOC = H17;
#NET "result_output[20]" LOC = J17;
#NET "result_output[19]" LOC = K17;
#NET "result_output[18]" LOC = L17;
#NET "result_output[17]" LOC = M17;
#NET "result_output[16]" LOC = P17;
#NET "result_output[15]" LOC = R17;
#NET "result_output[14]" LOC = T17;
#NET "result_output[13]" LOC = F18;
#NET "result_output[12]" LOC = H18;
#NET "result_output[11]" LOC = K18;
#NET "result_output[10]" LOC = M18;
#NET "result_output[9]" LOC = P18;
#NET "result_output[8]" LOC = T18;
#NET "result_output[7]" LOC = G19;
#NET "result_output[6]" LOC = H19;
#NET "result_output[5]" LOC = J19;
#NET "result_output[4]" LOC = K19;
#NET "result_output[3]" LOC = L19;
#NET "result_output[1]" LOC = T19;
#NET "result_output[2]" LOC = P19;
#NET "result_output[0]" LOC = U19;
#NET "canAccept_output" LOC = E20;
#NET "clk" LOC = Y13;
#NET "resultReady_output" LOC = W20;




